# Configuration file
/CONFIG

# Default build directory
/build

# Miscellaneous scattered built files
*.pyc
*~
*.state
*.bak
*.cmd
*.o

# Site configuration files built by the top level Makefile
/python/mbf/defs_path.py
/epics/configure/RELEASE

# Put stuff we want to ignore here
/ignore
