# Configuration file for testing tune fitting
#
# The format of the configuration file is rather ad-hoc and is really designed
# for simplicity of parsing.  The main complication is the treatment of tune
# fitting sources.
#
# Firstly, the sources line defines a list of source prefixes that will be used
# internally to define the available tune fitting activities.  Each source is
# then defined by a sequence of definitions each of the form <prefix>_<suffix>,
# where the following suffixes are expected:
#
#   _i  Name of PV containing real (in-phase) component of tune sweep to fit
#   _q  PV containing imaginary (quadrature) component of sweep
#   _s  PV naming frequency scale for sweep
#   _t  Prefix to use for generated PVs
#   _a  List of alias prefixes to use for generating alias PVs for tune

ioc = tune_fit/runioc
procserv_port = 7003

ioc_name = SR23C-DI-TFIT-01

persistence_file = /home/ops-iocs/prod/autosave/SR23C-DI-TFIT-01/state
persistence_interval = 120

sources = sr23-01.0 sr23-01.x.0 sr23-01.y.0

sr23-01.0_i = SR23C-DI-LMBF-01:IQ:DET:0:I
sr23-01.0_q = SR23C-DI-LMBF-01:IQ:DET:0:Q
sr23-01.0_s = SR23C-DI-LMBF-01:IQ:DET:SCALE
sr23-01.0_t = SR23C-DI-LMBF-01:IQ

sr23-01.x.0_i = SR23C-DI-TMBF-01:X:DET:0:I
sr23-01.x.0_q = SR23C-DI-TMBF-01:X:DET:0:Q
sr23-01.x.0_s = SR23C-DI-TMBF-01:X:DET:SCALE
sr23-01.x.0_t = SR23C-DI-TMBF-01:X
sr23-01.x.0_a = SR23C-DI-TMBF-01:TUNE:TUNE SR23C-DI-TMBF-01:TUNE

sr23-01.y.0_i = SR23C-DI-TMBF-01:Y:DET:0:I
sr23-01.y.0_q = SR23C-DI-TMBF-01:Y:DET:0:Q
sr23-01.y.0_s = SR23C-DI-TMBF-01:Y:DET:SCALE
sr23-01.y.0_t = SR23C-DI-TMBF-01:Y
sr23-01.y.0_a = SR23C-DI-TMBF-02:TUNE:TUNE SR23C-DI-TMBF-02:TUNE
