# Configuration file for testing tune fitting

ioc = tune_fit/runioc
broadcast_port = ens44f3

ioc_name = TS-DI-TFIT-01

persistence_file = TS-DI-TFIT-01.state
persistence_interval = 120

# sources = ts-l01.0 ts-t02.x.0 ts-t02.y.0
sources = sr23-01.x.0 ts-t02.y.0

sr23-01.x.0_i = SR23C-DI-TMBF-01:X:DET:0:I
sr23-01.x.0_q = SR23C-DI-TMBF-01:X:DET:0:Q
sr23-01.x.0_s = SR23C-DI-TMBF-01:X:DET:SCALE
sr23-01.x.0_t = TS-DI-TMBF-02:X

# ts-l01.0_i = TS-DI-LMBF-01:IQ:DET:0:I
# ts-l01.0_q = TS-DI-LMBF-01:IQ:DET:0:Q
# ts-l01.0_s = TS-DI-LMBF-01:IQ:DET:SCALE
# ts-l01.0_t = TS-DI-LMBF-01:IQ

# ts-t02.x.0_i = TS-DI-TMBF-02:X:DET:0:I
# ts-t02.x.0_q = TS-DI-TMBF-02:X:DET:0:Q
# ts-t02.x.0_s = TS-DI-TMBF-02:X:DET:SCALE
# ts-t02.x.0_t = TS-DI-TMBF-02:X

ts-t02.y.0_i = TS-DI-TMBF-02:Y:DET:0:I
ts-t02.y.0_q = TS-DI-TMBF-02:Y:DET:0:Q
ts-t02.y.0_s = TS-DI-TMBF-02:Y:DET:SCALE
ts-t02.y.0_p = TS-DI-TMBF-02:Y:PLL:NCO:TUNE
ts-t02.y.0_t = TS-DI-TMBF-02:Y
