# Configuration file for testing tune fitting

ioc = tune_fit/runioc

ioc_name = TS-DI-TFIT-01

persistence_file = TS-DI-TFIT-01.state
persistence_interval = 120

sources = sr23-01.x.0 sr23-01.y.0

sr23-01.x.0_i = SR23C-DI-TMBF-01:X:DET:0:I
sr23-01.x.0_q = SR23C-DI-TMBF-01:X:DET:0:Q
sr23-01.x.0_s = SR23C-DI-TMBF-01:X:DET:SCALE
sr23-01.x.0_t = TS-DI-TMBF-02:X

sr23-01.y.0_i = SR23C-DI-TMBF-01:Y:DET:0:I
sr23-01.y.0_q = SR23C-DI-TMBF-01:Y:DET:0:Q
sr23-01.y.0_s = SR23C-DI-TMBF-01:Y:DET:SCALE
sr23-01.y.0_t = TS-DI-TMBF-02:Y
