# Configuration file for testing tune fitting

ioc = tune_fit/runioc
procserv_port = 7003

ioc_name = TS-DI-TFIT-01

persistence_file = TS-DI-TFIT-01.state
persistence_interval = 120

sources = ts-l01.0 ts-t02.x.0 ts-t02.y.0

ts-l01.0_i = TS-DI-LMBF-01:IQ:DET:0:I
ts-l01.0_q = TS-DI-LMBF-01:IQ:DET:0:Q
ts-l01.0_s = TS-DI-LMBF-01:IQ:DET:SCALE
ts-l01.0_t = TS-DI-LMBF-01:IQ

ts-t02.x.0_i = TS-DI-TMBF-02:X:DET:0:I
ts-t02.x.0_q = TS-DI-TMBF-02:X:DET:0:Q
ts-t02.x.0_s = TS-DI-TMBF-02:X:DET:SCALE
ts-t02.x.0_t = TS-DI-TMBF-02:X

ts-t02.y.0_i = TS-DI-TMBF-02:Y:DET:0:I
ts-t02.y.0_q = TS-DI-TMBF-02:Y:DET:0:Q
ts-t02.y.0_s = TS-DI-TMBF-02:Y:DET:SCALE
ts-t02.y.0_t = TS-DI-TMBF-02:Y
