# Tune configuration parameters for Multi-Bunch Feedback
#
# This file is read by the new LMBF and TMBF setup scripts.

X_tune_ESRF = 0.440
Y_tune_ESRF = 0.390
L_tune_ESRF = 0.0056

# Other setting overrides can go here.  See opi/scripts/setup_defaults.py in the
# TMBF sources for a list of overridable values.

#
# FB_harmonic = what mode tune is measured on with FB on
#
FB_harmonic = 80
