# Tune configuration parameters for Multi-Bunch Feedback
#
# This file is read by the new LMBF and TMBF setup scripts.

X_tune_VMX = 0.1720
Y_tune_VMX = 0.2730
#X_tune_VMX = 0.1810
#Y_tune_VMX = 0.2740
L_tune_VMX = 0.0042
TX_tune_VMX = 0.1720
TY_tune_VMX = 0.2730
TL_tune_VMX = 0.0042

X_tune_VMXSP = 0.3740
Y_tune_VMXSP = 0.3050
L_tune_VMXSP = 0.0013

X_tune_VMXTHz = 0.3740
Y_tune_VMXTHz = 0.3050
L_tune_VMXTHz = 0.0009

X_tune_DIAD = 0.1890
Y_tune_DIAD = 0.2770
L_tune_DIAD = 0.0042

X_tune_DIADSP = 0.3740
Y_tune_DIADSP = 0.3050
L_tune_DIADSP = 0.0013

X_tune_DIADTHz = 0.3740
Y_tune_DIADTHz = 0.3050
L_tune_DIADTHz = 0.0009

X_tune_SRI0913_MOGA = 0.2174
Y_tune_SRI0913_MOGA = 0.3784
L_tune_SRI0913_MOGA = 0.0041

# Other setting overrides can go here.  See opi/scripts/setup_defaults.py in the
# TMBF sources for a list of overridable values.

#
# FB_harmonic = what mode tune is measured on with FB on
#
FB_harmonic = 80


# Longitudinal special config
L_sweep_range = 0.001
L_sweep_dwell_time = 100
L_sweep_gain = '-18dB'


X_VMXSP_sweep_gain  = '-36dB'
Y_VMXSP_sweep_gain  = '-36dB'

X_VMXTHz_sweep_gain  = '-36dB'
Y_VMXTHz_sweep_gain  = '-36dB'
