# Configuration file for testing tune fitting
#
# The format of the configuration file is rather ad-hoc and is really designed
# for simplicity of parsing.  The main complication is the treatment of tune
# fitting sources.
#
# Firstly, the sources line defines a list of source prefixes that will be used
# internally to define the available tune fitting activities.  Each source is
# then defined by a sequence of definitions each of the form <prefix>_<suffix>,
# where the following suffixes are expected:
#
#   _i  Name of PV containing real (in-phase) component of tune sweep to fit
#   _q  PV containing imaginary (quadrature) component of sweep
#   _s  PV naming frequency scale for sweep
#   _t  Prefix to use for generated PVs
#   _u  List of sweep components that are expected to update.  Should be I Q for
#       old TMBF and I Q S for new MBF.
#   _a  Alias prefix to use for generating alias PVs
#   _m  Tune result multiplexer definitions.

ioc = tune_fit/runioc

ioc_name = T-TFIT

persistence_file = /users/dserver/autosave/T-TFIT/state
persistence_interval = 120

sources = sr23-t01 sr23-t02

sr23-t01_i = T-TMBF:X:DET:0:I
sr23-t01_q = T-TMBF:X:DET:0:Q
sr23-t01_s = T-TMBF:X:DET:SCALE
sr23-t01_t = T-TMBF:X
sr23-t01_u = I Q

sr23-t02_i = T-TMBF:Y:DET:0:I
sr23-t02_q = T-TMBF:Y:DET:0:Q
sr23-t02_s = T-TMBF:Y:DET:SCALE
sr23-t02_t = T-TMBF:Y
sr23-t02_u = I Q

