# Configuration file for testing tune fitting
#
# The format of the configuration file is rather ad-hoc and is really designed
# for simplicity of parsing.  The main complication is the treatment of tune
# fitting sources.
#
# Firstly, the sources line defines a list of source prefixes that will be used
# internally to define the available tune fitting activities.  Each source is
# then defined by a sequence of definitions each of the form <prefix>_<suffix>,
# where the following suffixes are expected:
#
#   _i  Name of PV containing real (in-phase) component of tune sweep to fit
#   _q  PV containing imaginary (quadrature) component of sweep
#   _s  PV naming frequency scale for sweep
#   _t  Prefix to use for generated PVs
#   _u  List of sweep components that are expected to update.  Should be I Q for
#       old TMBF and I Q S for new MBF.
#   _a  Alias prefix to use for generating alias PVs
#   _m  Tune result multiplexer definitions.

procserv_port = 7003

ioc_name = SR23C-DI-TFIT-01

persistence_file = /home/ops-iocs/prod/autosave/SR23C-DI-TFIT-01/state
persistence_interval = 120

sources = sr23-t01 sr23-t02 sr23-01.0 sr23-04.x.0 sr23-04.y.0

sr23-t01_i = SR23C-DI-TMBF-01:TUNE:I
sr23-t01_q = SR23C-DI-TMBF-01:TUNE:Q
sr23-t01_s = SR23C-DI-TMBF-01:DET:SCALE
sr23-t01_t = SR23C-DI-TFIT-01:XOLD
sr23-t01_u = I Q
sr23-t01_m 0 = Original \
    SR23C-DI-TMBF-01:PEAK:TUNE       SR23C-DI-TMBF-01:PEAK:PHASE
sr23-t01_m 1 = Basic    \
    SR23C-DI-TMBF-01:TUNE:BASIC:TUNE SR23C-DI-TMBF-01:TUNE:BASIC:PHASE
sr23-t01_m 2 = Tune PLL \
    SR23C-DI-TMBF-01:NCO:FREQ:MEAN   SR23C-DI-TMBF-01:FTUN:ANGLE

sr23-t02_i = SR23C-DI-TMBF-02:TUNE:I
sr23-t02_q = SR23C-DI-TMBF-02:TUNE:Q
sr23-t02_s = SR23C-DI-TMBF-02:DET:SCALE
sr23-t02_t = SR23C-DI-TFIT-01:YOLD
sr23-t02_u = I Q
sr23-t02_m 0 = Original \
    SR23C-DI-TMBF-02:PEAK:TUNE       SR23C-DI-TMBF-02:PEAK:PHASE
sr23-t02_m 1 = Basic    \
    SR23C-DI-TMBF-02:TUNE:BASIC:TUNE SR23C-DI-TMBF-02:TUNE:BASIC:PHASE
sr23-t02_m 2 = Tune PLL \
    SR23C-DI-TMBF-02:NCO:FREQ:MEAN   SR23C-DI-TMBF-02:FTUN:ANGLE

sr23-01.0_i = SR23C-DI-LMBF-01:IQ:DET:0:I
sr23-01.0_q = SR23C-DI-LMBF-01:IQ:DET:0:Q
sr23-01.0_s = SR23C-DI-LMBF-01:IQ:DET:SCALE
sr23-01.0_a = SR23C-DI-LMBF-01:IQ
sr23-01.0_t = SR23C-DI-TFIT-01:SYNC
sr23-01.0_u = I Q S

sr23-04.x.0_i = SR23C-DI-TMBF-04:X:DET:0:I
sr23-04.x.0_q = SR23C-DI-TMBF-04:X:DET:0:Q
sr23-04.x.0_s = SR23C-DI-TMBF-04:X:DET:SCALE
sr23-04.x.0_a = SR23C-DI-TMBF-04:X
sr23-04.x.0_t = SR23C-DI-TFIT-01:X
sr23-04.x.0_u = I Q S

sr23-04.y.0_i = SR23C-DI-TMBF-04:Y:DET:0:I
sr23-04.y.0_q = SR23C-DI-TMBF-04:Y:DET:0:Q
sr23-04.y.0_s = SR23C-DI-TMBF-04:Y:DET:SCALE
sr23-04.y.0_a = SR23C-DI-TMBF-04:Y
sr23-04.y.0_t = SR23C-DI-TFIT-01:Y
sr23-04.y.0_u = I Q S
