# LMBF configuration file for SR23C-DI-LMBF-01

device_address = pci-0000:04:00.0
# For reasons I don't understand, we need a very different ADC skew here
adc_idelay = 9

bunches_per_turn = 936
epics_name = SR23C-DI-LMBF-01
channel0_name = I
channel1_name = Q
lmbf_mode = 1
lmbf_fir_offset = 90
revolution_frequency = 533848

# Polling interval for min/max/sum in microseconds.  Should be be short enough
# to ensure <60,000 turns between polling events.
mms_poll_interval = 50000

# Where the persistence file is stored and how often (in seconds) we update
persistence_file = /home/ops-iocs/prod/autosave/SR23C-DI-LMBF-01/state
persistence_interval = 120

# When logging caput to an array we truncate the array at this length
pv_log_array_length = 10

# Number of samples in a single fast memory readout buffer
memory_readout_length = 16384

# Number of samples in a detector readout buffer
detector_length = 4096

# Port to listen on for fast data readout
data_port = 8888

# vim: set filetype=conf:
