# Configuration file for testing tune fitting

procserv_port = 7003

ioc_name = SR23C-DI-TFIT-01

persistence_file = /home/ops-iocs/prod/autosave/SR23C-DI-TFIT-01/state
persistence_interval = 120

sources = sr23-t01 sr23-t02 sr23-01.0 sr23-04.x.0 sr23-04.y.0

sr23-t01_i = SR23C-DI-TMBF-01:TUNE:I
sr23-t01_q = SR23C-DI-TMBF-01:TUNE:Q
sr23-t01_s = SR23C-DI-TMBF-01:DET:SCALE
sr23-t01_t = SR23C-DI-TFIT-01:XOLD
sr23-t01_u = I Q
sr23-t01_m 0 = Original \
    SR23C-DI-TMBF-01:PEAK:TUNE       SR23C-DI-TMBF-01:PEAK:PHASE
sr23-t01_m 1 = Basic    \
    SR23C-DI-TMBF-01:TUNE:BASIC:TUNE SR23C-DI-TMBF-01:TUNE:BASIC:PHASE
sr23-t01_m 2 = Tune PLL \
    SR23C-DI-TMBF-01:NCO:FREQ:MEAN   SR23C-DI-TMBF-01:FTUN:ANGLE

sr23-t02_i = SR23C-DI-TMBF-02:TUNE:I
sr23-t02_q = SR23C-DI-TMBF-02:TUNE:Q
sr23-t02_s = SR23C-DI-TMBF-02:DET:SCALE
sr23-t02_t = SR23C-DI-TFIT-01:YOLD
sr23-t02_u = I Q
sr23-t01_m 0 = Original \
    SR23C-DI-TMBF-02:PEAK:TUNE       SR23C-DI-TMBF-02:PEAK:PHASE
sr23-t02_m 1 = Basic    \
    SR23C-DI-TMBF-02:TUNE:BASIC:TUNE SR23C-DI-TMBF-02:TUNE:BASIC:PHASE
sr23-t02_m 2 = Tune PLL \
    SR23C-DI-TMBF-02:NCO:FREQ:MEAN   SR23C-DI-TMBF-02:FTUN:ANGLE

sr23-01.0_i = SR23C-DI-LMBF-01:IQ:DET:0:I
sr23-01.0_q = SR23C-DI-LMBF-01:IQ:DET:0:Q
sr23-01.0_s = SR23C-DI-LMBF-01:IQ:DET:SCALE
sr23-01.0_t = SR23C-DI-TFIT-01:SYNC
sr23-01.0_u = I Q S

sr23-04.x.0_i = SR23C-DI-TMBF-01:X:DET:0:I
sr23-04.x.0_q = SR23C-DI-TMBF-01:X:DET:0:Q
sr23-04.x.0_s = SR23C-DI-TMBF-01:X:DET:SCALE
sr23-04.x.0_t = SR23C-DI-TFIT-01:X
sr23-04.x.0_u = I Q S

sr23-04.y.0_i = SR23C-DI-TMBF-01:Y:DET:0:I
sr23-04.y.0_q = SR23C-DI-TMBF-01:Y:DET:0:Q
sr23-04.y.0_s = SR23C-DI-TMBF-01:Y:DET:SCALE
sr23-04.y.0_t = SR23C-DI-TFIT-01:Y
sr23-04.y.0_u = I Q S
