# Configuration file for testing tune fitting

procserv_port = 7003

ioc_name = SR23C-DI-TFIT-01

persistence_file = /home/ops-iocs/prod/autosave/SR23C-DI-TFIT-01/state
persistence_interval = 120

sources = sr23-t01 sr23-t02 sr23-01.0

sr23-t01_i = SR23C-DI-TMBF-01:TUNE:I
sr23-t01_q = SR23C-DI-TMBF-01:TUNE:Q
sr23-t01_s = SR23C-DI-TMBF-01:DET:SCALE
sr23-t01_t = SR23C-DI-TMBF-01:TUNE:
sr23-t01_u = I Q

sr23-t02_i = SR23C-DI-TMBF-02:TUNE:I
sr23-t02_q = SR23C-DI-TMBF-02:TUNE:Q
sr23-t02_s = SR23C-DI-TMBF-02:DET:SCALE
sr23-t02_t = SR23C-DI-TMBF-02:TUNE:
sr23-t02_u = I Q

sr23-01.0_i = SR23C-DI-LMBF-01:IQ:DET:0:I
sr23-01.0_q = SR23C-DI-LMBF-01:IQ:DET:0:Q
sr23-01.0_s = SR23C-DI-LMBF-01:IQ:DET:SCALE
sr23-01.0_t = SR23C-DI-LMBF-01:TUNE:0
sr23-01.0_u = I Q S
