[Unit]
Description=ESRF Unit service load Xilinx firmware in FPGA

Wants=network-online.target
Wants=autofs.service
Wants=home-esrf-dserver.mount

After=network-online.target
After=home-esrf-dserver.mount
After=host-startup.service

Wants=amc525-driver.service
After=amc525-driver.service
Before=tango-starter.service

[Service]
Type=simple
RemainAfterExit=yes

ExecStartPre=/etc/systemd/system/script-esrf/host/amc525-firmware.sh startpre

ExecStart=/etc/systemd/system/script-esrf/host/amc525-firmware.sh start

Restart=on-failure
RestartSec=5
StartLimitInterval=100
StartLimitBurst=5


[Install]
WantedBy=multi-user.target
