[Unit]
Description=Daily backup of MBF
After=network.target

[Service]
Type=oneshot

User=dserver
Group=comp

ExecStart=/etc/systemd/system/script-esrf/host/mbf-backup.sh

